[submodule "graudit"]
	path = graudit
	url = https://github.com/wireghoul/graudit.git
[submodule "splint"]
	path = splint
	url = https://github.com/splintchecker/splint.git
[submodule "VCG"]
	path = VCG
	url = https://github.com/nccgroup/VCG
